{% extends 'homepage/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
   <!-- banner Reservation -->
   <section id="reservation_banner">
       <div class="container">
           <div class="service_inner">
               <div class="row">
                   <div class="col-lg-4 col-md-12">
                       <div class="column">
                        <div class="column_inner">
                            <a href="">
                            <i class="fas fa-user-tie"></i>
                            <div class="inner_header">
                                {% trans 'My BookyTrip Profile' %}
                                <i class="fas fa-angle-double-right" style="position:relative; left:4px; "></i>
                            </div>
                                </a>
                        </div>
                       </div>
                       
                   </div>
                   <div class=" col-lg-4 col-md-12">
                       <div class="column">
                        <div class="column_inner">
                             <a href="">
                            <i class="fab fa-researchgate"></i>
                            <div class="inner_header">
                               {% trans 'My Reservation' %}
                                <i class="fas fa-angle-double-right" style="position:relative; left:4px; "></i>
                            </div>
                             </a>
                        </div>
                       </div>
                       
                   </div>
                   <div class="active col-lg-4 col-md-12">
                       <div class="column">
                        <div class="column_inner">
                            <i class="fas fa-users"></i>
                            <div class="inner_header">
                                {% trans 'Rate Booky Partners' %}
                                <i class="fas fa-angle-double-right" style="position:relative; left:4px; "></i>
                            </div>
                        </div>
                       </div>
                       
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div id="banner_bottom_pack" class="reservation">
    <div class="shape_bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
            <path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
            <path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
        </svg>
    </div>
</div>
   <!-- banner Reservation -->

   <div class="spicer_section"></div>

   <!-- reservation main -->
   <section id="section_reservation">
       <div class="container">
        <div class="main_resevation_inners">
           <div class="row">
              
               <div class=" left_side col-lg-6 col-md-12">
                   <div class="section_inner">
                       <h2>Tbilisi Grand Hotel</h2>
                       <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="list_items">
                        
                        <ul class="list_item_ul">
                            <li>
                              <i class="fas fa-map-marker-alt"></i>
                              <span>Hotel With Car</span>
                            </li>
                            <li>
                                <i class="far fa-calendar-alt"></i>
                              <span>25.12.2020 - 3.01.2021</span>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                              <span>15 People</span>
                            </li>
                            <li>
                                <i class="fas fa-coins"></i>
                                <span>50 USD</span>
                              </li>
                        </ul>
                      </div>
                      <hr>
                      <a class="btn btn-primary collapse_rating" class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Rate Booky Partners
                      </a>
                      <div class="collapse" id="collapseExample">
                        <form id="ratingForm">
                            <textarea name="reviews" required id="" class="form-control" placeholder="Write Message" ></textarea>
                            <button class="submit form-control-range" type="submit">Submit</button>
                        </form>
                      </div>
                   </div>
               </div>
               <div class="right_side col-lg-6 col-md-12">
                   <img src="{% static 'images/Video-1-1536x675.png' %}" alt="">
               </div>
               </div>
           </div>
     
       </div>
   </section>
{% endblock %}