{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}
<div class="main_pack">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!----------------------------------------------------------------------------------->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Change order themed pack</h1>
                    </div>




                    <!---------------------- change order themed pack--------------------------------------------> 
             <form action="{% url 'adminPanel:editThemedPackOrder' pack_order.id %}" method="POST">
                 {% csrf_token %}
                <div class="contentalladd changeorder">
                    <table>
                            <thead>
                                    <div class="row align-items-center change_username">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                                            {{ form }}
                                        </div>
                                    </div>
                            </thead>
                    </table>

                    <div class="row  save_Delete">
                            <button type="submit" class="save col-xl-2 col-lg-3 col-md-3 col-sm-4 ">SAVE</button>
                    </div>

                </div>

            </form>


                



                        <!----------------------END change order themed pack---------------------------------------> 

                        

                        
                    




                    

                        </div> <!-- 		End of Container -->


                 <!---------------------------------------------------------------------------------------->

                
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->

{% endblock %}




