{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}
<div class="main_pack">
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">About Page</h1>
        {% if number_of_about < 1 %}
            <div class="add">
                <a href="{% url 'adminPanel:dashboardAboutAdd' %}">Add About Page Description</a>
            </div>
        {% endif %}
    </div>

                 

    <!-- Content Row -->
    <table class="table" id= "table-id">
    <thead>
        <tr>
            <th>
               
            </th>
            <th >About Page</th>
            <th ></th>
            <th ></th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for about in about_page %}
            <tr>
                <td></td>
                <td colspan="2"><a href="{% url 'adminPanel:dashboardAboutEdit' about.id %}"> {{ about.title }} </a></td>
                <td><a href="{% url 'adminPanel:dashboardAboutEdit' about.id %}">Edit</a> </td>
            </tr>
        {% endfor %}

    </tbody>
    </table>

</div> 

 {% endblock %}