
<body>
    <form action="">
        <input type="text" name="username" class="form-control" placeholder="Email or Username">
        <input type="password" name="password" class="form-control" placeholder="password">
        <button type="submit" class="form-control" id="login_form_button">Log In</button>
        <a class="form-control social_registration facebook_button">
            <i class="fab fa-facebook-f"></i>  Log in With Facebook
        </a>
        <a class="form-control social_registration google_button">
            <i class="fab fa-google-plus-g"></i>  Log in With Google
        </a>
        
    </form>
</body>
